html,
body {
    height: 100%;

}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.42;
    position: relative;
}



*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
}

p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: normal;
}

.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    width: 950px;
    height: 100%;
    justify-content: center;
    /*padding-left: 4.5rem;
    padding-right: 2.62rem;*/

}

.wrapper {

    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    min-width: 940px + 20px;
}

.section {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 650px;
}


.title {
    color: #0d0d0d;
    font-family: "Alegreya Sans";
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}