@mixin input {
    color: #000000;
    font-family: "Alegreya Sans";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.8781rem;
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
    padding-left: 0.6875rem;
    padding-right: 0.6875rem;
    height: 3.6875rem;
    border: 0;
    outline: none;

    &:focus {
        outline: 3px solid #dde3bd;
    }

    @include phones {
        height: 1.6875rem;
    }
}

@mixin btn {
    width: 9.75rem;
    height: 3.625rem;
    background-color: #0f5a47;
    color: $colorWhiteText;
    font-family: "alegreya_sans_extraboldRg";
    font-size: 1.1875rem;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.1875rem;
    overflow: hidden;
    border: none;

    &:hover {
        background-color: $white;
        color: #0f5a47;
        border-radius: 2.1875rem;
        overflow: hidden;
        border: none;
        cursor: pointer;
    }

    @include tablets {
        width: 7.5rem;
        height: 3rem;
        font-size: 0.75rem;
    }
}


@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

@mixin iphone {
    @media screen and (max-width: $iphone4) {
        @content;
    }
}

@function rem($px) {
    @return $px / 16px+0rem;
}