.content__icons {
    stroke: #b0f7ff;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    fill: #61c4d9;
}

.content__icons-list {
    fill: none;
    width: 2.75rem;
    height: 2.5625rem;
    margin-right: 0.4375rem;

    @include phones {
        margin-right: 0.20rem;
    }
}

.content__icons-truck {
    width: 3.125rem;
    height: 2.5rem;
    margin-right: 0.75rem;

    @include phones {
        margin-right: 0.40rem;
    }

}

.content__icons-meter {
    width: 2.625rem;
    height: 2.625rem;
    margin-right: 0.5625rem;

    @include phones {
        margin-right: 0.40rem;
    }
}