.posts__slider {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    @include phones {
        flex-direction: column;
        margin-bottom: 1rem;
    }
}

.posts__slider_items {
    display: flex;
    flex-direction: column;
    width: 31%;
    &:hover {
        cursor: pointer;
    }
    &:hover .posts__slider_number {
        background-color: #c7b299;
    }
    &:hover .posts__slider_mouth {
        background-color: #c7b299;
    }
    &:hover .posts__slider_info {
        background-color: #362f2d;
        border: none;
    }
    &:hover .posts__slider_items-title {
        color: #c7b299;
    }
    &:hover .posts__slider_items-text {
        color: #ffffff;
    }
    &:hover .posts__slider_items-img::after {
        display: flex;
    }
    @include phones {
        // width: 32.33%;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.posts__slider_items--active .posts__slider_items-img::after {
    display: flex;
}

.posts__slider_items--active .posts__slider_number {
    background-color: #c7b299;
}

.posts__slider_items--active .posts__slider_mouth {
    background-color: #c7b299;
}

.posts__slider_items--active .posts__slider_info {
    background-color: #362f2d;
    border: none;
}

.posts__slider_items--active .posts__slider_items-title {
    color: #c7b299;
}

.posts__slider_items--active .posts__slider_items-text {
    color: #ffffff;
}

.posts__slider_items-img {
    display: flex;
    position: relative;
    &::after {
        content: '';
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(17, 17, 17, 0.7);
    }
    @include phones {}
}

.posts__slider_items-icon {
    max-width: 100%;
}

.posts__slider_items-date {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
    width: 15.5%;
    z-index: 4;
}

.posts__slider_number {
    display: flex;
    color: #ffffff;
    font-family: 'montserrat_alternatesregular';
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.25rem;
    height: 2.1875rem;
    border-radius: 3px 3px 0 0;
    background-color: #363636;
    justify-content: center;
    align-items: center;
}

.posts__slider_mouth {
    display: flex;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25rem;
    height: 1.5625rem;
    border-radius: 0 0 3px 3px;
    background-color: #252525;
    justify-content: center;
    align-items: center;
}

.posts__slider_items-title {
    color: #555555;
    font-family: 'ralewayregular';
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.1875rem;
    @include phones {
        margin-bottom: 0.2rem;
    }
}

.posts__slider_items-text {
    color: #8c8c8c;
    font-family: 'montserrat_alternatesregular';
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
    margin-bottom: 1.6875rem;
    @include phones {
        margin-bottom: 0.2rem;
    }
}

.posts__slider_items-link {
    color: #c7b299;
    font-family: 'montserrat_alternatesregular';
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    &::after {
        content: "";
        background: url('/img/posts__arrow__link.png') center center no-repeat;
        display: flex;
        width: 0.3125rem;
        height: 0.5rem;
        margin-left: 0.5625rem;
    }
}

.posts__slider_info {
    display: flex;
    flex-direction: column;
    border-left: 1px #f8f8f8 solid;
    border-right: 1px #f8f8f8 solid;
    border-bottom: 1px #f8f8f8 solid;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.9375rem;
    padding-bottom: 1.125rem;
    @include phones {
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 0.5rem;
        padding-bottom: 0.6rem;
    }
}

.posts__slider_buttons {
    display: flex;
}

.posts__slider_button-icon {
    display: flex;
    cursor: pointer;
    fill: #b19090;
    ;
    width: 2.0rem;
    height: 2.0rem;
    // max-width: 100%;
    &:hover {
        fill: #191919;
    }
}

.button__link-left {
    margin-right: 0.5rem;
}