.posts {
    height: 100vh;
}

.container--posts {
    display: flex;
    height: 100%;
    justify-content: center;
    @include phones {
        justify-content: space-around;
    }
}

.posts__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: center;
    margin-bottom: 2.5rem;
    @include phones {
        margin-bottom: 0rem;
    }
}

.posts__title {
    color: #555555;
    font-family: 'ralewaysemibold';
    font-size: 1.875rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
    @include phones {
        margin-bottom: 0.6rem;
    }
}

.posts__txt {
    color: #8c8c8c;
    font-family: 'montserrat_alternatesregular';
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75rem;
}