.bars {
    background-color: #f8faf9;
    align-items: center;
}

.bars--container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;


    @include tablets {
        flex-direction: column;
        justify-content: center;

    }
}


.slider__wrrap {
    width: 100%;
    overflow: hidden;
    align-items: center;
    display: flex;
    position: relative;

    @include tablets {
        height: 100%;

    }
}


.bars__slider {
    display: flex;
    width: 100%;
    transition: .4s;
    //justify-content: space-around;

    @include tablets {
        align-items: center;
    }
}

.slider__bars-items {
    transition: all 1s ease-in 0.4s;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;



    @include tablets {
        flex-direction: column;
    }
}

.flash__slider-left {
    position: absolute;
    left: 0.25rem;
    z-index: 5;
    top: 15.125rem;

    @include tablets {
        top: 21rem;
        left: 6rem;
    }

    @include phones {
        left: 2rem;
        top: 29rem;
    }
}

.flash__slider-right {
    position: absolute;
    right: 0.25rem;
    z-index: 5;
    top: 15.125rem;

    @include tablets {
        top: 21rem;
        right: 6rem;
    }

    @include phones {
        right: 2rem;
        top: 29rem;
    }
}

.flash__slider:hover {
    opacity: .4;
}

.bars__elips {
    position: relative;
    display: flex;
    flex-direction: column;

    @include tablets {
        margin-bottom: 1.875rem;

    }


    .elips__gris {
        position: absolute;
        display: flex;
        top: 4.12rem;
        left: -0.62rem;
        max-width: 100%;

        @include tablets {
            top: 55.92px;
            left: -1.92px;
            max-width: 100%;
            position: absolute;
            width: 19.625rem;
            height: 12.5625rem;
        }
    }

    .elips__bleu {
        z-index: 2;
        max-width: 100%;
        width: 23.75rem;
        height: 19.3125rem;

        @include tablets {
            width: 19.0625rem;
            height: 15.4375rem;
        }
    }

    &::before {
        position: absolute;
        content: "";
        display: flex;
        background: url("../img/bars_leaves.png") center center no-repeat;
        top: 0;
        left: -3.56rem;
        width: 28.87rem;
        height: 20.37rem;
        z-index: 4;

        @include tablets {
            background: url("../img/bars-768-list.png") center center no-repeat;
            top: -2.8125rem;
            left: -5.9375rem;
        }

        @include phones {
            display: none;
        }
    }
}

.bar__info {
    display: flex;
    flex-direction: column;

    @include tablets {
        justify-items: center;
    }
}

.bars--title {
    font-size: 2.25rem;
    margin-bottom: 2.56rem;
    width: 22rem;

    @include tablets {
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
        width: 100%;

    }

    @include phones {
        margin-bottom: 0.4rem
    }
}

.bars__composition {
    color: #323232;
    font-family: "Alegreya Sans";
    font-size: 1.3125rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 2.06rem;

    @include tablets {
        text-align: center;
        margin-bottom: 1.625rem;
    }

    @include phones {
        margin-bottom: 0.4rem;
    }
}

.bars__description {
    color: #666666;
    font-family: "Alegreya Sans";
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 3.18rem;
    width: 21.12rem;
    display: flex;

    @include tablets {
        text-align: center;
        width: 23.4375rem;
        margin-bottom: 0.625rem;
    }
}

.bars__energy {
    display: flex;
    margin-bottom: 2.18rem;

    @include tablets {
        justify-content: center;
    }

    @include phones {
        margin-bottom: 0.6rem;
    }

    .energy__items {
        display: flex;
        flex-direction: column;
        margin-right: 3.43rem;
    }

    .energy__title {
        margin-bottom: 0.56rem;
        color: #333333;
        font-family: "Alegreya Sans";
        font-size: 1.125rem;
        font-weight: 400;

        @include phones {
            margin-bottom: 0.2rem;
        }
    }



    .energy__info {
        color: #333333;
        font-family: "Alegreya Sans";
        font-size: 1.125rem;
        font-weight: 400;
        font-weight: 43.75rem;
    }
}

.bars__price {
    display: flex;

    @include tablets {
        justify-content: center;
    }

    .bars__price__rub {
        color: #0d0d0d;
        font-family: "Alegreya Sans";
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        font-weight: 18.75rem;
        margin-right: 1.93rem;
        display: flex;

        @include tablets {
            font-size: 1.875rem;
        }
    }

    .bars__price__btn {
        @include btn;
    }
}

.chocolads {
    display: flex;
    position: absolute;
    top: -4.625rem;
    left: -0.4375rem;
    z-index: 3;


    @include tablets {
        width: 17.2rem;
        height: 17.5rem;
        top: -2.0rem;
        left: 0.48rem;

    }
}