.menu {
    background: url("../img/menu-bag.jpg") center center no-repeat;
    background-size: cover;


    &::before {
        position: absolute;
        content: "";
        display: flex;
        background-color: #000000;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: .40;
    }

    &::after {
        position: absolute;
        content: "";
        display: flex;
        background: url("../img/menu_berry.png") center center no-repeat;
        width: 6.5rem;
        height: 7.125rem;
        top: -4.375rem;
        left: 1.125rem;
        max-width: 100%;

        @include tablets {
            background: url("../img/menu-berry-768.png") center center no-repeat;
        }

        @include phones {
            display: none;
        }
    }
}

.menu--title {
    color: $white;
    display: flex;
    padding-top: 6.5625rem;
    padding-left: 4.9375rem;
    z-index: 2;

    @include phones {
        padding-left: 0.4rem;
        padding-top: 4rem;
        font-size: 2rem;
    }
}