.navigation__tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #2f3234;
    opacity: 0.99;
    z-index: 10;
    display: none;
    justify-content: center;

    @include tablets {
      //  display: flex;
    }
}

.navigation__items {
    list-style: none;
}

.navigation__link {
    text-decoration: none;
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 4.5rem;

    &:hover {
        opacity: 0.55;
    }

 
}

.navigation__croix {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    fill: #ffffff;

}


.navigation__closed {
    position: absolute;
    right: 1.625rem;
    top: 2rem;

    &:hover {
        opacity: 0.55;
    }
}