    .header {
        display: flex;
        align-items: center;
        width: 100%;
        @include phones {
            justify-content: space-between;
        }
    }
    
    .header__logo {
        display: flex;
        width: 34%;
        align-items: center;
        @include tablets {
            width: 27%;
        }
    }
    
    .header__img {
        margin-right: 0.125rem;
        width: 4rem;
        height: 3.5rem;
    }
    
    .header__logo_name {
        display: flex;
        color: #ffffff;
        font-family: 'ralewayregular';
        font-size: 2.125rem;
        font-weight: 400;
        letter-spacing: -0.085rem;
        @include tablets {}
    }
    
    //header navigation name section
    .nav__list {
        display: flex;
        width: 55%;
        justify-content: space-between;
        @include notebook {
            width: 65%;
        }
        @include tablets {
            width: 60%;
        }
        @include phones {
            display: none;
        }
    }
    
    .nav__link {
        color: #ffffff;
        font-family: 'montserrat_alternatesregular';
        font-size: 0.875rem;
        font-weight: 300;
        &:hover {
            opacity: 0.4;
        }
    }
    
    //header navigation search and shopping
    .nav__list_search {
        display: flex;
        width: 11%;
        justify-content: flex-end;
    }
    
    .nav__items_search {
        margin-right: 18%;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            opacity: 0.4;
        }
    }