.partners {
    // height: 100vh;
    display: flex;
}

.partners__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    // justify-content: flex-end;
}

.partners__company {
    display: flex;
    background: url('../img/partners__baground.png') center center no-repeat;
    background-size: cover;
    position: relative;
    // height: 27.5625rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    align-items: center;
    &::after {
        content: '';
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 17, 17, 0.7);
    }
}

.company__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 3;
    align-items: center;
}

.company__itmes {
    width: 23%;
}

.company__icons {
    max-width: 100%;
}

.partners__developments {
    width: 100%;
    //  height: 32.75rem;
    background-color: #191919;
    // padding-top: 2.125rem;
    // padding-bottom: 2rem;
    flex-grow: 2;
}

.container--developements__main {
    display: flex;
    height: 100%;
    justify-content: center;
}

.developements__main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

//WAXON INFO
.waxom__info {
    display: flex;
    flex-direction: column;
    width: 22%;
}

.waxom__logo {
    display: flex;
    align-items: center;
    margin-bottom: 1.8125rem;
    flex-wrap: wrap;
}

.waxom__icon {
    max-width: 100%;
}

.waxon__name {
    color: #ffffff;
    font-family: 'ralewayregular';
    font-size: 2.125rem;
    font-weight: 400;
    letter-spacing: -0.085rem;
}

.waxon__description {
    color: #555555;
    font-family: 'montserrat_alternatesregular';
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 2.0625rem;
}

.waxon__link-readmore {
    color: #d1d1d1;
    font-family: 'montserrat_alternatesregular';
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    &::after {
        content: "";
        display: flex;
        background: url('/img/waxon__link-arrow.png') center center no-repeat;
        width: 0.3125rem;
        height: 0.5rem;
        margin-left: 0.625rem;
    }
    &:hover {
        opacity: 0.55;
    }
}

//RESENT POSTS
.recent__posts {
    display: flex;
    flex-direction: column;
    width: 22%;
}

.recent__posts-title {
    color: #ffffff;
    font-family: 'ralewayregular';
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2.0625rem;
}

.recent__posts-list {
    display: flex;
    flex-direction: column;
}

.posts__data {
    color: #363636;
    font-family: 'montserrat_alternatesregular';
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.25rem;
    margin-bottom: 0.625rem;
}

.posts__description {
    color: #555555;
    font-family: 'montserrat_alternatesregular';
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    width: 100%;
}

.posts__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625rem;
    cursor: pointer;
    &::after {
        content: "";
        display: flex;
        width: 100%;
        height: 0.0625rem;
        // background-color: #252525;
        background-color: #595f6f;
        margin-top: 0.75rem;
    }
    &:last-child::after {
        display: none;
    }
    &:hover .posts__data {
        color: #ffffff;
    }
    &:hover .posts__description {
        color: #c7b299;
    }
}

//TWITTER
.twitter {
    display: flex;
    flex-direction: column;
    width: 22%;
}

.twitter__title {
    color: #ffffff;
    font-family: 'ralewayregular';
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2.0625rem;
}

.twiter__posts {
    display: flex;
    flex-direction: column;
}

.twitter__message {
    color: #555555;
    font-family: 'montserrat_alternatesregular';
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    margin-bottom: 0.625rem;
}

.twitter__data {
    color: #363636;
    font-family: 'montserrat_alternatesregular';
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.25rem;
}

.twitter__items {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &::after {
        content: "";
        display: flex;
        width: 100%;
        height: 0.0625rem;
        // background-color: #252525;
        background-color: #595f6f;
        margin-top: 0.75rem;
    }
    &:last-child::after {
        display: none;
    }
    &:hover .twitter__data {
        color: #ffffff;
    }
    &:hover .twitter__message {
        color: #c7b299;
    }
}

.twiiter__blue {
    color: #00bff3;
}

.twitter__link-color {
    color: #959595;
}

//DRIBBBLE WIDGET
.dribbble__widget {
    display: flex;
    flex-direction: column;
    width: 22%;
}

.widget__title {
    color: #ffffff;
    font-family: 'ralewayregular';
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2.0625rem;
}

.widget__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // width: 100%;
}

.widget__items {
    display: flex;
    width: 47%;
    margin-bottom: 0.75rem;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.widget__icons {
    max-width: 100%;
}