//section welcome
.welcome {
    background: url("../img/photo.png") center center no-repeat;
    background-size: cover;
    padding-top: 2.5rem;
    padding-bottom: 2.625rem;
}

.container--welcome {
    height: 100%;
}