//container sliders welcome
.welcome__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

//slider potfolio
.slider__portfolio {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.slider__falsh {
    display: flex;
    &:hover {
        opacity: 0.4;
    }
}

.flash__icon {
    @include tablets {
        height: 3rem;
        width: 1.8rem;
    }
}

.portfolio__list {
    display: flex;
    flex-direction: column;
}

.portfolio__list_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfoli__title {
    color: #ffffff;
    font-family: 'ralewayregular';
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 0.875rem;
    @include phones {
        text-align: center;
    }
}

.portfolio__psd {
    color: #ffffff;
    font-family: "ralewayextrabold";
    font-size: 3.25rem;
    font-weight: 400;
    margin-bottom: 1.1875rem;
    @include tablets {
        font-size: 2rem;
    }
}

.portfolio__descrip {
    color: #ffffff;
    font-family: 'montserrat_alternatesregular';
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 3.25rem;
    width: 55%;
    text-align: center;
}

//button slider potfolio in section welcome
.portfolio__btn {
    cursor: pointer;
    width: 10.625rem;
    height: 3.3125rem;
    //box-shadow: inset 0 -0.1875rem 0 #736357;
    border-radius: 0.1875rem;
    background-color: #998675;
    color: #ffffff;
    font-family: 'ralewayextrabold';
    overflow: hidden;
    border: none;
    &:hover {
        background-color: #241509;
    }
}