.mobil__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    @include phones {
        justify-content: center;
        flex: 1;
    }
}

.mobil__icon {
    display: flex;
    width: 26.4375rem;
    @include phones {
        display: none;
    }
}

.mobil__img {
    max-width: 100%;
}

.mobil__info {
    display: flex;
    flex-direction: column;
    width: 58%;
    justify-content: center;
    @include phones {
        width: 95%;
    }
}

.mobil__title {
    color: #555555;
    font-family: 'ralewaysemibold';
    font-size: 1.875rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
    @include phones {
        margin-bottom: 0.7rem;
    }
}

.mobil__text {
    color: #8c8c8c;
    font-family: 'montserrat_alternatesregular';
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75rem;
    margin-bottom: 2.8125rem;
    @include phones {
        margin-bottom: 0.7rem;
    }
}

.mobil__list {
    // padding-left: 3.125rem;
    align-self: flex-end;
}

.mobil__items {
    color: #8c8c8c;
    font-family: 'montserrat_alternatesregular';
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    display: flex;
    align-items: center;
}

.mobil__items-text {
    display: flex;
}

.mobil__flash {
    display: flex;
    max-width: 100%;
    margin-right: 1.3125rem;
}