@media screen and (max-width: 768px) {
    .bars {
        min-height: 887px;

    }

    .bars--container {
        flex-direction: column;
        padding-top: 129px;
        padding-bottom: 69px;

    }

    .bars--title,
    .bars__description {
        text-align: center;

    }

    .bars__description {
        text-align: center;
        width: 375px;
    }

    .bars__info {
        justify-items: center;
    }


    .bars__composition {
        text-align: center;
    }

    .bars__energy {
        justify-content: center;
    }

    .bars__price {
        justify-content: center;
    }

    .bars__elips {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        &::before {
            background: url("../img/bars-768-list.png") center center no-repeat;
            top: -13px;
            left: -95px;
        }


        .elips__gris {

            top: 55.92px;
            left: -1.92px;
            max-width: 100%;
            position: absolute;
            width: 314px;
            height: 201px;

        }

        .elips__bleu {
            width: 305px;
            height: 247px;
        }

        &::after {
            background: url("../img/bars-768.png") center center no-repeat;
            top: -98.88px;
            left: -12.92px;
        }

    }

    .bars--title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .bars__composition {
        margin-bottom: 26px;
    }

    .bars__description {
        margin-bottom: 10px;
    }

    .bars__slider__left {
        top: 235px;
        left: -45px;

    }

    .bars__slider__right {
        top: 235px;
        right: -41px;
    }

}