@media screen and (max-width: 768px) {
    .why {
        min-height: 1179px;

        &::before {
            top: 211px;
        }
    }

    .why--container {
        justify-content: flex-start;
        padding-top: 51px;
    }

    .why--title {
        margin-bottom: -1px;
    }

    .why__list {
        flex-direction: column;
    }

    .why__items::after {
        display: none;
    }

    .why__txt {
        margin-bottom: 41px;
    }

    .why__items {
        margin-bottom: 34px;
    }

    .why__icon {
        margin-bottom: 23.88px;
    }

    .why__items {

        span {
            margin-bottom: 0.9rem;
        }
    }
}