@media screen and (max-width: 768px) {
    .wrapper {
        flex-wrap: wrap;
        max-width: 768px;
   
    }

    html {
        font-size: 16px;
    }

    .sidebar {
        display: none;
    }


    .container {
        width: 771px;
        padding-left: 0;
        padding-right: 1.5625rem;
        padding-top: 1.875rem;
        padding-left: 1.625rem;
        margin-left: 0;
        align-items: center;
        width: 0 auto;
        overflow: hidden;
        margin-right: 0;
    }

    .welcome--container {
        padding-bottom: 54px;

        padding-top: 25px;
    }

    .welcome {
        background-color: #61c4d9;
        min-height: 1025px;
        height: 100vh;


        &::before {
            content: "";
            right: 0;
            height: 39.6875rem;
            top: -12px;
            left: 257px;
            display: flex;
            width: 32rem;
            height: 40.5rem;
            max-width: 100%;
        }

        &::after {
            content: "";
            background: url("../img/berry__786-welcome.png") no-repeat;
            position: absolute;
            top: 226px;
            left: 199px;
            width: 388px;
        }
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        flex: 0;
        justify-content: center;
    }

    .content--title {
        margin-bottom: 6px;
    }

    .content__list {
      justify-content: space-between;
      padding-left: 25px;
   

    }



    .content__txt {
        font-size: 16px;
        width: 100px;
       
    }
    .content__txt-long {
        width: 130px;
    }

    .content__text {
        margin-bottom: 28px;
    }

    .content__barre {

        width: 403px;
        height: 419px;

    }

    .content__right {
        margin-bottom: 54px;
    }

    .content__left {
        align-items: center;
        margin-bottom: 10px;
    }

    .content--title,
    .content__text {
        text-align: center;
    }

    .header {
        width: 100%;
        align-items: center;
    }

    .nav,
    .header__phone {
        display: none;
    }

    .welcome__bag {
        background: url("../img/list-welcome-768.png") no-repeat center center;
        top: 195px;
        left: -53px;
    }

    .hamburger__icon {
        display: flex;
    }

}