@media screen and (max-width: 768px) {

    .commit__items {
        flex-direction: column;
    }

    .reviews__commit {
        width: 460px;
        height: 600px;
        background-color: #f8faf9;
    }







}