.section-delivery {
    background: url("../img/delivery__bag.jpg") center center no-repeat;
    background-size: cover;
    min-height: 670px;

    &::before {
        content: "";
        background: url("../img/delivery__bag.png") center center no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        width: 135px;
        height: 188px;
    }

    &::after {
        content: "";
        background: url("../img/delivery__bag2.png") center center no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        width: 63px;
        height: 58px;


    }
}

.coontainer-delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delivery__title {
    @include titleBlack;
    color: #0f5a47;
    margin-bottom: 55px;
}

.form {
    display: flex;
    width: 950px;
    justify-content: space-between;

}

.form__left {
    display: flex;
    flex-direction: column;
    width: 463px;

}

.left__top {
    display: flex;
    justify-content: space-between;

    .input__top {
        width: 220px;
        height: $heightInput;
        background-color: #ffffff;
        @include input;
    }
}

.left__top__name,
.left__top__phone {
    display: flex;
    flex-direction: column;
}


.input__text {
    @include inputTxt;
}

.form__center {
    display: flex;
    flex-direction: column;

    .input__center {
        height: $heightInput;
        @include input;
    }
}

.form__bottom {
    display: flex;
    justify-content: space-between;

    .bottom__items {
        display: flex;
        flex-direction: column;
        width: 100px;
    }

    .input__bottom {
        height: $heightInput;
        @include input;
    }
}

.form__right {
    display: flex;
    flex-direction: column;
}

.form__right__texterea {
    display: flex;
    flex-direction: column;

    .textarea {
        width: 460px;
        height: 180px;
        background-color: #ffffff;
        resize: none;
        @include input;
    }
}