.delivery{
    background: url("../img/delivery__bag.jpg") center center no-repeat;
    background-size: cover;
    min-height: 41.875rem;

    &::before {
        content: "";
        background: url("../img/delivery__bag.png") center center no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        width: 8.4375rem;
        height: 11.75rem;
    }

    &::after {
        content: "";
        background: url("../img/delivery__bag2.png") center center no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        width: 3.9375rem;
        height: 3.625rem;


    }
}

.delivery--coontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delivery--title {
    color: #0f5a47;
    margin-bottom: 3.4375rem;
}

.form {
    display: flex;
    width: 59.375rem;
    justify-content: space-between;

}

.form__left {
    display: flex;
    flex-direction: column;
    width: 28.9375rem;

}

.left__top {
    display: flex;
    justify-content: space-between;

    .input__top {
        width: 13.75rem;
        height: $heightInput;
        background-color: #ffffff;
        @include input;
    }
}

.left__top__name,
.left__top__phone {
    display: flex;
    flex-direction: column;
}


.input__text {
    color: #0f5a47;
    font-family: "Alegreya Sans";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.8781rem;
}

.form__center {
    display: flex;
    flex-direction: column;

    .input__center {
        height: $heightInput;
        @include input;
    }
}

.form__bottom {
    display: flex;
    justify-content: space-between;

    .bottom__items {
        display: flex;
        flex-direction: column;
        width: 6.25rem;
    }

    .input__bottom {
        height: $heightInput;
        @include input;
    }
}

.form__right {
    display: flex;
    flex-direction: column;
}

.form__right__texterea {
    display: flex;
    flex-direction: column;

    .textarea {
        width: 28.75rem;
        height: 11.25rem;
        background-color: #ffffff;
        resize: none;
        @include input;
    }
}