.footer {
    display: flex;
    height: 5.8125rem;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer__row {
    display: flex;
    width: 50%;
}

/* Левая секция футора*/
.footer__row-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__address {
    color: #010101;
    font-family: "Alegreya Sans";
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 1.4888rem;
    margin-bottom: 4px;
}

.footer__number {
    font-family: "Alegreya Sans";
    font-size: 1.3125rem;
    font-weight: 400;
    line-height: 1.875rem;
    text-transform: uppercase;
    color: #0f5a47;

    &:hover {
        opacity: 0.55;
    }
}

.footer__tel {
    width: 12px;
    height: 11px;
    fill: #0f5a47;
    margin-right: 7px;
}

/*правая секция футора*/
.footer__row-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;

}

.social {
    display: inline;
    margin-right: 1.25rem;

}

.vvk:hover {
    fill: #010101;
}