.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__logo {
    color: $colorWhiteText;
    font-size: 1.5rem;
    display: flex;
    font-family: 'alegreya_sans_lightregular';
    font-weight: bold;
    line-height: 1.3125rem;
    width: 3.3125rem;
    height: 2.375rem;
}

.header__phone {
    display: flex;
    align-items: center;
    color: $colorWhiteText;
    font-family: "Alegreya Sans";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;

    &::before {
        content: "";
        background: url("../img/header__ph.png") center center no-repeat;
        display: flex;
        width: 12px;
        height: 11px;
        margin-right: 6px;
    }

    &:hover {
        opacity: 0.55;
    }
}