.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__logo {
    color: $colorWhiteText;
    font-size: 1.5rem;
    display: flex;
    font-family: 'alegreya_sans_lightregular';
    font-weight: bold;
    line-height: 1.3125rem;
    width: 3.3125rem;
    height: 2.375rem;
}

.header__phone {
    display: flex;
    align-items: center;
    color: $colorWhiteText;
    font-family: "Alegreya Sans";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;

    &::before {
        content: "";
        background: url("../sprite/sprite.svg");
        background-position: 20px 11px 30px 20px;
        background-repeat: no-repeat;
        display: flex;
        margin-right: 6px;
        fill: black;
        stroke: black;
        stroke-width: 1;
    }

    &:hover {
        opacity: 0.55;
    }
}

.header__tel {
    width: 12px;
    height: 11px;
    fill: #ffffff;
    margin-right: 6px;
}