.menu{
    background: url("../img/menu_bag.jpg") center center no-repeat;
    background-size: cover;


    &::after {
        position: absolute;
        content: "";
        display: flex;
        background: url("../img/menu_berry.png") center center no-repeat;
        width: 6.5rem;
        height: 7.125rem;
        top: -4.375rem;
        left: 1.125rem;
        max-width: 100%;
    }
}

.menu--container {
    display: flex;
    flex-direction: row;
}

.menu--title {
    color: $white;
}

.menu__list {
    display: flex;

    .menu__items-active {
        margin-right: 530px;

        &::after {
            content: "";
            display: flex;
            width: 39.375rem;
            height: 100vh;
            background-color: #000000;
            opacity: 0.75;
            position: absolute;
            left: 6.25rem;
        }
    }

    .menu__items {
        display: flex;
        position: relative;
    }

    .menu__img {
        position: relative;
        max-width: 100%;
    }
}

.menu__link {
    position: relative;
    display: flex;

}

.menu__descrip {
    position: absolute;
    display: flex;
    white-space: nowrap;
    top: 50.4375rem;
    left: 1.8125rem;
    transform: rotate(-90deg);
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-size: 3rem;
    font-weight: 500;
    width: 2.5625rem;
}