.nav__list {
    display: flex;

    @include tablets {
        display: none;
    }
}

.nav__items {
    margin-right: 1.8125rem;

    &:last-child {
        margin-right: 0rem;
    }
}

.nav__link {
    color: $colorWhiteText;
    font-family: "Alegreya Sans";
    font-size: 1.125rem;
    font-weight: 400;
}

.nav__items:hover .nav__link {
    opacity: 0.55;

}