.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 114.93rem;
    top: 29.75rem;
    z-index: 50;
}

.sidebar__items {
    margin-bottom: 1rem;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}






.sidebar__link {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        display: flex;
        background-color: $white;
        width: 0.37rem;
        height: 0.37rem;
        border-radius: 50%;
    }

    &::before {
        content: "";
        display: flex;
        width: 1rem;
        height: 1rem;
        border: solid 0.06rem transparent;
        border-radius: 50%;
        position: absolute;
    }



}

.sidebar__link-active,
.sidebar__link:active::before {
    border: solid 0.06rem #ffffff;
    display: flex;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}