.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 4.5%;
    top: 29%;
    z-index: 10;

    @include tablets {
        display: none;
    }
}

.sidebar__items {
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 0.37rem;
    height: 0.37rem;


    &::after {
        content: "";
        display: flex;
        background-color: $white;
        width: 0.37rem;
        height: 0.37rem;
        border-radius: 50%;
        position: absolute;

    }

    &::before {
        content: "";
        display: flex;
        width: 0;
        height: 0;
        border: solid 0.06rem $white;
        border-radius: 50%;
        position: absolute;
        opacity: 0;
        transition: 0.4s;

    }

}

.sidebar__items--active .sidebar__link::before,
.sidebar__link:hover::before {


    width: 1rem;
    height: 1rem;

    opacity: 1;
}