.team {
    background-color: $white;
    align-items: center;


    &::before {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/team_bagr.png") center center no-repeat;
        display: flex;
        width: 12.25rem;
        height: 36.12rem;
        top: -15.06rem;
        right: 0;
        max-width: 100%;

        @include tablets {
            top: -17.06rem;
            right: 0.0625rem;
            // background: url("../img/teem-after-768.png") center center no-repeat;
            // top: -23.06rem;
            // right: -0.9375rem;
        }

        @include phones {
            display: none;
            right: -8.9375rem;
            top: -21.06rem;
        }
    }

    &::after {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/bars_berry.png") center center no-repeat;
        display: flex;
        width: 8.43rem;
        height: 7rem;
        top: -4.18rem;
        right: 0;
        max-width: 100%;

        @include tablets {
            background: url("../img/teeem-beefor-768.png") center center no-repeat;
            top: -4.18rem;
            right: -1.8125rem;
        }

        @include phones {
            right: -3.8125rem;
            width: 9rem;
            height: 8rem;
        }
    }
}

.team--container {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    justify-content: center;

    @include tablets {}

    @include phones {
        justify-content: space-around;
    }
}

.team--title {
    display: flex;
    margin-bottom: 4.25rem;

    @include phones {
        width: 100%;
        font-size: 1.8rem;
        margin-bottom: 0;
    }
}

.team__list {
    display: flex;
    flex-direction: row;
    z-index: 3;
    width: 100%;
    flex-wrap: wrap;

    @include tablets {
        width: 80%;
    }

    @include phones {
        width: 100%;
        padding: 0 2%;
    }
}

.team__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 25%;

    &:nth-child(2n) {
        align-self: flex-end;

        @include tablets {
            align-self: flex-start;
            margin-bottom: 2.25rem;
        }

        @include phones {
            margin-bottom: 0rem;
        }
    }

    &:nth-child(2n+1) {
        align-self: flex-start;

        @include tablets {
            margin-bottom: 2.25rem;
        }

        @include phones {
            margin-bottom: 0rem;
        }
    }

    @include tablets {
        width: 50%;
    }
}

.team__photo {
    width: 14rem;
    height: 18.06rem;
    margin-bottom: 1.56rem;
    max-width: 100%;

    @include tablets {
        width: 11.875rem;
        height: 15.625rem;
    }

    @include phones {
        width: 9rem;
        height: 10.5rem;
        margin-bottom: 0.2rem;
    }
}

.team__name {
    color: #323232;
    font-family: "Alegreya Sans";
    font-size: 1.3125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 0.375rem;

    &::after {
        content: "";
        display: flex;
        background: url("../img/Polygon.png") center center no-repeat;
        width: 0.56rem;
        height: 0.43rem;
        margin-left: 0.31rem;
    }

    @include phones {
        margin-bottom: 0.1rem;
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.team__name--active {
    margin-bottom: 0.81rem;

    @include phones {
        margin-bottom: 0;
    }
}

.team__name--active::after {
    content: "";
    display: flex;
    background: url("../img/Polygon_top.png") center center no-repeat;
    width: 0.56rem;
    height: 0.43rem;
    margin-left: 0.31rem;

    @include tablets {
        background: url("../img/Polygon.png") center center no-repeat;
    }
}

.team__prof {
    color: #281e1e;
    font-family: "Alegreya Sans";
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.37rem;
    display: flex;

    @include phones {
        margin-bottom: 0rem;
    }
}

.team__descrip {
    height: 0;
    overflow: hidden;
    display: flex;
    width: 14rem;
    color: #666666;
    font-family: "Alegreya Sans";
    font-size: 1.125rem;
    font-weight: 400;
    font-weight: 18.75rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.team__items:active .team__name {

    &::after {
        content: "";
        display: flex;
        background: url("../img/Polygon_top.png") center center no-repeat;
        width: 0.56rem;
        height: 0.43rem;
        margin-left: 0.31rem;
    }
}


.team__items:active .team__descrip {
    height: 5rem;
    transition: 0.4s;
    width: 14rem;

    @include phones {
        height: 6rem;
    }
}

.team__descrip--active {
    height: 5rem;

    @include tablets {
        height: 0;
    }
}

.team__descrip-tablet--active {
    @include tablets {
        height: 5rem;
    }

    @include phones {
        height: 6rem;
    }
}