.team {
    background-color: $white;
    align-items: center;



    &::before {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/team_bagr.png") center center no-repeat;
        display: flex;
        width: 12.25rem;
        height: 36.12rem;
        top: -15.06rem;
        right: 0;
        max-width: 100%;

        @include tablets {
            background: url("../img/teem-after-768.png") center center no-repeat;
            top: -23.06rem;
            right: -0.9375rem;
        }
    }

    &::after {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/bars_berry.png") center center no-repeat;
        display: flex;
        width: 8.43rem;
        height: 7rem;
        top: -4.18rem;
        right: 0;
        max-width: 100%;

        @include tablets {
            background: url("../img/teeem-beefor-768.png") center center no-repeat;
            top: -4.18rem;
            right: -1.8125rem;
        }
    }
}

.team--container {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    justify-content: center;

    @include tablets {}
}

.team--title {
    display: flex;
    margin-bottom: 4.25rem;
}

.team__list {
    display: flex;
    flex-direction: row;
    z-index: 3;
    width: 100%;
    flex-wrap: wrap;


    @include tablets {
        width: 80%;


    }

    @include phones {
        width: 100%;
      
    }
}

.team__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 25%;



    @include tablets {
        width: 50%;
    }

    @include phones {}
}

.team__items-alla {
    align-self: flex-end;

    @include tablets {
        align-self: flex-start;
        margin-bottom: 2.25rem;
    }

}

.team__items-mila {
    align-self: flex-end;

    @include tablets {
        align-self: flex-start;

    }

}

.team__items-active {

    align-self: flex-start;

    @include tablets {}

}


.team__items-boris {
    align-self: flex-start;

    @include tablets {
        margin-bottom: 2.25rem;
    }

}



.team__photo {
    width: 14rem;

    height: 18.06rem;
    margin-bottom: 1.56rem;
    max-width: 100%;

    @include tablets {
        width: 11.875rem;

        height: 15.625rem;
    }

    @include phones {
       // width: 9.375rem;
      //  height: 12rem;
    }

}

.team__name {
    color: #323232;
    font-family: "Alegreya Sans";
    font-size: 1.3125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 0.375rem;


    &::after {
        content: "";
        display: flex;
        background: url("../img/Polygon.png") center center no-repeat;
        width: 0.56rem;
        height: 0.43rem;
        margin-left: 0.31rem;
    }
}

.team__name-motrsov {
    margin-bottom: 0.81rem;

}

.team__name-motrsov::after {
    content: "";
    display: flex;
    background: url("../img/Polygon_top.png") center center no-repeat;
    width: 0.56rem;
    height: 0.43rem;
    margin-left: 0.31rem;

    @include tablets {
        background: url("../img/Polygon.png") center center no-repeat;
    }
}

.team__prof {
    color: #281e1e;
    font-family: "Alegreya Sans";
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.37rem;
    display: flex;
}

.team__descrip {
    height: 0;
    overflow: hidden;
    display: flex;
    width: 14rem;
    color: #666666;
    font-family: "Alegreya Sans";
    font-size: 1.125rem;
    font-weight: 400;
    font-weight: 18.75rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.team__items:active .team__name {

    &::after {
        content: "";
        display: flex;
        background: url("../img/Polygon_top.png") center center no-repeat;
        width: 0.56rem;
        height: 0.43rem;
        margin-left: 0.31rem;


    }
}


.team__items:active .team__descrip {
    height: 5rem;
    transition: 0.4s;
    width: 14rem;


}

.team__descrip-active {
    height: 5rem;

    @include tablets {
        height: 0;

    }

}

.team__descrip-alla {
    @include tablets {
        height: 5rem;

    }

}