.section-team {
    background-color: $white;
    align-items: center;
    min-height: 47.87rem;

    &::before {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/team_bagr.png") center center no-repeat;
        display: flex;
        width: 12.25rem;
        height: 36.12rem;
        top: -15.06rem;
        right: 0;
    }

    &::after {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/bars_berry.png") center center no-repeat;
        display: flex;
        width: 8.43rem;
        height: 7rem;
        top: -4.18rem;
        right: 0;
    }
}

.container-team {
    display: flex;
}

.team__title {
    @include titleBlack;
    margin-bottom: 4.25rem;
    justify-content: center;
    display: flex;
}

.team__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25.31rem;


    .team__items-alla {
        align-self: flex-end;
    }

    .team__items-mila {
        align-self: flex-end;
    }
}

.team__items {
    display: flex;
    flex-direction: column;
    align-items: center;

    .team__photo {
        width: 14rem;
        height: 18.06rem;
        margin-bottom: 1.56rem;
        max-width: 100%;
    }
}

.team__name {
    @include textName;
    display: flex;
    align-items: center;


    &::after {
        content: "";
        display: flex;
        background: url("../img/Polygon.png") center center no-repeat;
        width: 0.56rem;
        height: 0.43rem;
        margin-left: 0.31rem;
    }
}

.team__name-motrsov {
    margin-bottom: 0.81rem;

}

.team__name-motrsov::after {
    content: "";
    display: flex;
    background: url("../img/Polygon_top.png") center center no-repeat;
    width: 0.56rem;
    height: 0.43rem;
    margin-left: 0.31rem;
}

.team__prof {
    @include profTxt;
    margin-bottom: 0.37rem;
    display: flex;
}

.team__descrip {
    display: flex;
    width: 14rem;
    @include textContent;
    font-weight: 18.75rem;
    text-align: center;
}