.welcome {
    background-color: #61c4d9;
 
    &::before {
        content: "";
        background: url("../img/iz.png") center center no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        width: 512px;
        height: 648px;
        max-width: 100%;
    }

    &::after {
        content: "";
        background: url("../img/berry.png");
        position: absolute;
        bottom: -1.87rem;
        right: 6.12rem;
        display: flex;
        width: 387px;
        height: 286px;
        z-index: 3;
        max-width: 100%;
    }
}

.welcome--container {
    padding-top: 1.5rem;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  /*&::before {
        content: "";
        background: url("../img/list.png");
        position: absolute;
        top: 36.68rem;
        right: 1.3rem;
        display: flex;
        width: 1056px;
        height: 353px;
        z-index: 3;
     
    }*/
}

.welcome__bag {
    background: url("../img/list.png") center center no-repeat;
    position: absolute;
    top: -301px;
    right: -61px;
    display: flex;
    width: 1056px;
    height: 353px;
    z-index: 3;
}