.section-welcome {
    background-color: #61c4d9;

    &::before {
        content: "";
        background: url("../img/iz.png") center center no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        width: 512px;
        height: 648px;
    }

    &::after {
        content: "";
        background: url("../img/berry.png");
        position: absolute;
        bottom: -30px;
        right: 98px;
        display: flex;
        width: 387px;
        height: 286px;
        z-index: 3;
    }
}

.container-welcome {
    padding-top: 24px;


    /* &::after {
        content: "";
        background: url("../img/barres.png");
        position: absolute;
        top: 218px;
        right: 29px;
        display: flex;
        width: 503px;
        height: 523px;
    }*/

    &::before {
        content: "";
        background: url("../img/list.png");
        position: absolute;
        top: 635px;
        right: 21px;
        display: flex;
        width: 1056px;
        height: 353px;
        z-index: 3;
    }
}

.welcome__content {
    display: flex;
    justify-content: space-between;
    height: 550px;



}

.welcome__content__left {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.welcome__content__right {
    display: flex;
}

.welcome__barre {
    width: 503px;
    height: 523px;
    display: flex;
}


.welcome__title {
    @include title;
    color: $colorWhiteText;
    position: relative;
    margin-bottom: 22px;
}

.welcome__sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1007px;
    top: 300px;
    z-index: 3;
}

.sidebar__items {
    margin-bottom: 16px;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__items-active,
.sidebar__items:active {
    width: 16px;
    height: 16px;
    border: solid 1px #ffffff;
    border-radius: 50%;


}

.sidebar__link {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        display: flex;
        background-color: $white;
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }
}

.welcome__text {
    @include txt400White;
    font-size: 21px;
    margin-bottom: 32px;
}

.welcome__btn {
    @include btn;
    margin-bottom: 72px;
    z-index: 5;
}

.welcome__list {
    display: flex;
    z-index: 3;

    .welcome__items {
        display: flex;
        margin-right: 46px;

        &:last-child {
            margin-right: 0;
        }
    }

    .welcome__icon {
        margin-right: 8px;
        width: 50px;
        height: 42px;
        fill: $white;
        max-width: 100%;
    }

    .welcome__txt {
        display: flex;
        @include txt400White;
        font-size: 16px;
    }

}



