.section-why {
    background-color: $white;
    align-items: center;

    &::before {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/why__bag.png") center center no-repeat;
        bottom: 15.31rem;
        left: 0;
        width: 11.93rem;
        height: 19.62rem;
    }

    &::after {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/why__berry.png") center center no-repeat;
        bottom: -6.25rem;
        left: 0;
        width: 10.06rem;
        height: 19.68rem;
    }
}


.container-why {
    position: relative;
    justify-content: center;
}

.why__title {
    @include titleBlack;
    margin-bottom: 1.43rem;
    display: flex;
    justify-content: center;
}

.why__txt {
    @include textContent;
    margin-bottom: 3.56rem;
    display: flex;
    justify-content: center;
}

.why__list {
    display: flex;
    flex-direction: row;
    z-index: 2;
    width: 59.06rem;
    justify-content: space-between;
}

.why__items {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    span {
        font-family: 'alegreya_sans_extraboldRg';
        font-size: 1.68rem;
        color: black;
        margin-bottom: 1.56rem;
    }

    p {
        @include textContent;
        font-weight: 18.75rem;
        text-align: center;
        width: 17.25rem;
    }


    &::after {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/why__after.png") center center no-repeat;
        width: 4.18rem;
        height: 1.31rem;
        right: -3.87rem;
        top: 3.25rem;
    }

    &:last-child::after {
        display: none;
    }
}

.why__icon {
    display: flex;
    width: 4.37rem;
    height: 4.31rem;
    width: 7.81rem;
    height: 7.81rem;
    background-color: #f2f5f4;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 2.18rem;

    .why__img {
        width: 4.37rem;
        height: 4.31rem;
        max-width: 100%;
    }
}