.section-why {
    background-color: $white;
    align-items: center;

    &::before {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/why__bag.png") center center no-repeat;
        bottom: 245px;
        left: 0;
        width: 191px;
        height: 314px;
    }

    &::after {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/why__berry.png") center center no-repeat;
        bottom: -100px;
        left: 0;
        width: 161px;
        height: 315px;
    }
}


.container-why {
    position: relative;
    justify-content: center;
}

.why__title {
    @include titleBlack;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
}

.why__txt {
    @include textContent;
    margin-bottom: 57px;
    display: flex;
    justify-content: center;
}

.why__list {
    display: flex;
    flex-direction: row;
    z-index: 2;
    width: 945px;
    justify-content: space-between;
}

.why__items {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    span {
        font-family: 'alegreya_sans_extraboldRg';
        font-size: 27px;
        color: black;
        margin-bottom: 25px;
    }

    p {
        @include textContent;
        font-weight: 300;
        text-align: center;
        width: 276px;
    }


    &::after {
        content: "";
        display: flex;
        position: absolute;
        background: url("../img/why__after.png") center center no-repeat;
        width: 67px;
        height: 21px;
        right: -62px;
        top: 52px;
    }

    &:last-child::after {
        display: none;
    }
}

.why__icon {
    display: flex;
    width: 70px;
    height: 69px;
    width: 125px;
    height: 125px;
    background-color: #f2f5f4;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 35px;

    .why__img {
        width: 70px;
        height: 69px;
        max-width: 100%;
    }
}