.why__image {
    width: 4.125rem;
    height: 4.3125rem;
    fill: #f2f5f4;
    stroke: #000000;
    stroke-width: 0.75;
    stroke-miterlimit: 10;
    @include phones {
        width: 2.125rem;
        height: 2.3125rem;
    }

}

