.social__icon {
    fill: #b2b2b2;
    stroke: #b2b2b2;

    &:hover {
        fill: #000000;
    }
}

.social__icon-vk {
    width: 1.4375rem;
    height: 0.8125rem;
}

.social__icon-fb {
    width: 1.25rem;
    height: 20px;
}

.social__icon-inst {
    width: 1.25rem;
    height: 1.25rem;
}

.social__icon-twit {
    width: 1.25rem;
    height: 1rem;
    fill: #b2b2b2;
    stroke: #b2b2b2;
}