.delivery {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background: url("../img/delivery__bag.jpg") center center no-repeat;
    background-size: cover;
}