.welcome {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 650px;
    width: 100%;
    height: 100vh;
    background-color: #61c4d9;
    min-height: 650px;

    &::before {
        content: "";
        background: url("../img/iz.png") center center no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        width: 512px;
        height: 648px;
    }

    &::after {
        content: "";
        background: url("../img/berry.png");
        position: absolute;
        bottom: -30px;
        right: 70px;
        display: flex;
        width: 387px;
        height: 286px;
        z-index: 3;
    }
}

.container-welcome {
    justify-content: space-around;

    &::after {
        content: "";
        background: url("../img/barres.png");
        position: absolute;
        top: 218px;
        right: 29px;
        display: flex;
        width: 503px;
        height: 523px;
    }

    &::before {
        content: "";
        background: url("../img/list.png");
        position: absolute;
        top: 635px;
        right: 41px;
        display: flex;
        width: 1056px;
        height: 353px;
        z-index: 3;
    }





}

.header {
    @include flexRow;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 100px;




}

.header__logo {
    color: $colorWhiteText;
    font-size: 24px;
    display: flex;
    font-family: 'alegreya_sans_lightregular';
    font-weight: bold;
    line-height: 21px;
}

.welcome__navigation {
    display: flex;

    .navigation__list {
        @include flexRow;
        width: 639px;
        justify-content: space-between;
    }

    .navigation__link {
        @include navLink;
    }
}

.header__phone {
    display: flex;
    align-items: center;
    @include number;

    &::before {
        content: "";
        background: url("../img/header__ph.png") center center no-repeat;
        display: flex;
        width: 12px;
        height: 11px;
        margin-right: 6px;
    }
}

.welcome__title {
    @include title;
    color: $colorWhiteText;
    position: relative;
}

.welcome__sidebar {
    @include flexColumn;
    position: absolute;
    left: 1030px;
    top: 376px;
    z-index: 3;

    .sidebar__items {
        margin-bottom: 16px;

        &:hover .sidebar__link {
            width: 16px;
            height: 16px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            display: flex;
        }
    }
}

.sidebar__link {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        display: flex;
        background-color: $white;
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }
}

.welcome__text {
    @include txt400White;
    font-size: 21px;
    margin-bottom: 32px;
}

.welcome__btn {
    @include btn;
    margin-bottom: 72px;
    z-index: 5;
}

.welcome__info {
    @include flexRow;
    z-index: 3;

    .info__list {
        display: flex;
        margin-right: 46px;
    }

    .info__link {
        @include flexRow;
    }

    .info__icon {
        margin-right: 8px;
        width: 50px;
        height: 42px;
    }

    .info__txt {
        display: flex;
        @include txt400White;
        font-size: 16px;
    }

}